.imagen {
  max-width: 100%;
  margin-bottom: 2rem;
}

.contenido {
  display: flex;
  flex-direction: column;
}

p {
  margin: .3rem;
  text-align: justify;
}

.introduccion {
  padding-bottom: 20px;
}

.article {
  padding: 0;
}

@media (min-width: 768px) {
  .titulo-par {
    text-align: right;
    grid-column-start: 7;
    grid-column-end: 12;
  }

  .par {
    order: 1;
  }
}